<h1>Welcome to My Notes!</h1>
<h2>Please select activity</h2>
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/notes">All notes</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/newNote.ejs">Add note</a>
        </li>
    </ul>
  </div>
