<!DOCTYPE html>
<html>
  <head>
    <title>My Node MongoDB Express App</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <h1>My Node Express MongoDB App</h1>
    <form action="/users" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="email" name="email" />
      <button type="submit">Submit</button>
    </form>
    <h2>Users</h2>
    <ul class="users">
      <!-- Loop through users -->
      <% for(var i = 0; i < users.length; i++) {%>
        <li class="users">
          <!-- Output name from the iterated users object -->
          <a href="/users/<%= users[i]._id %>"><span><%= users[i].name %></span></a><br>
          <!-- Output quote from the iterated quote object -->
          <a  href="/users/<%= users[i]._id %>"><span href="#"><%= users[i].email %></span></a>
        </li>
      <% } %>
    </ul>
  </body>
  <script src="/scripts/global.js" />
</html>
