<%- include('header.ejs') %>
<a class="link" href="/">Go Back<a>
    <label>Title:</label>
    <input type="text" />
    <div>
      <label>Content:</label>
      <textarea rows="4" cols="50" type="text"></textarea>
    </div>
    <br>
    <div>
      <input type="submit" value="Submit" id="addeNote">
    </div>
    <%- include('footer.ejs') %>
