h1, h2 {
  text-align: center;
}

body {
  background-color: darkgoldenrod;
}

.container {
  margin-top: 100px;
  background-color: darkolivegreen;
}

a {
  color: black;
}

li {
  margin-left: 20px;
}


